*{
    font-family:Calibri;
    font-size:20px;
    box-sizing:border-box
}
.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}
    .sidebar a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
        border-inline-style: solid;
        border-inline-color: #85FFBD;
        border-inline-width: 1px;
        padding: 10px;
        
        transition: padding 1s;
    }
        .sidebar a:hover:not(.active) {
            padding: 20px;
            color: #85FFBD;
            
        }

    .sidebar ul {
        padding: 0;
        width:100%;
       
    }
    .sidebar ul li{
        list-style-type:none;
    }

#active {
    background-color: white;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    color: black;
}

.sb-items {
    padding:20px;
    
}

.footer {
    width: 100%;
    height: 5%;
    background: rgb(207,255,143);
    background: linear-gradient(90deg, rgba(207,255,143,1) 0%, rgba(173,251,255,1) 100%);
    position: fixed;
    bottom: 0;
}

.movingtext {
    color: black;
    margin:5px;
}

@media screen and (max-width: 720px){
    .sidebar {
        position:static;
        height:auto;
        width:100%;
    }
        .sidebar ul {
            display: flex;
            flex-direction: row;
        }
        .sidebar a {
            padding:5px;
        }
   
}
@media screen and (max-width: 420px) {

        .sidebar ul {
            display: flex;
            flex-direction: column;
        }
}