.container{
    display:flex;
    flex-direction:column;
    margin:auto;
}
.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index:1;
    display:flex;
}
    .sidebar a {
        text-align: center;
        display: block;
        text-decoration: none;
        color: white;
        border-radius: 10px;
        margin-bottom: 10px;
        border-inline-style: solid;
        border-inline-color: #85FFBD;
        border-inline-width: 1px;
        padding: 10px;
        transition: padding 0.5s;
    }
        .sidebar a:hover:not(.active) {
            padding: 15px;
            color: #85FFBD;
        }

    .sidebar ul {
        padding: 0;
        width:100%;
       
    }
    .sidebar ul li{
        list-style-type:none;
    }

#active {
    background-color: white;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    color: black;
}

.sb-items {
    padding:20px;
    
}
.logo {
    color: #FFFB7D;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0px 0px 20px #85FFBD;
    padding:10px
}
.footer {
    width: 100%;
    height: 5%;
    background: rgb(207,255,143);
    background: linear-gradient(90deg, rgba(207,255,143,1) 0%, rgba(173,251,255,1) 100%);
    position: fixed;
    bottom: 0;
}
.t-btn {
    text-align:center;
    position: fixed;
    bottom: 5%;
    right: 0%;
}
    .t-btn a {
        display: block;
        background-color: #85FFBD;
        text-decoration: none;
        color: white;
        padding: 5px;
        border-start-start-radius: 5px;
    }
.movingtext {
    color: black;
    margin:5px;
    letter-spacing: 5px;
}

.lnk {
    color: black;
    text-decoration: none;
}
    .lnk:hover {
        color: springgreen;
    }
.tag {
    color: white;
    text-decoration: none;
}
    .tag:hover {
        color: springgreen
    }
.App {
    text-align: center;
}
@media screen and (max-width: 720px){
    .sidebar {
        position:relative;
        height:auto;
        width:100%;
    }
        .sidebar ul {
            display: flex;
            flex-direction: column;
        }
        .sidebar a {
            padding:5px;
        }
}

