
.lnk {
    color: black;
    text-decoration: none;
}
    .lnk:hover {
        color: springgreen;
        

    }

.tag {
    color: white;
    text-decoration: none;
}
    .tag:hover {
        color: springgreen
    }


.App {
  text-align: center;
}





